.btn-info {
    background-color: #a48444;
    color: white;
    font-weight: bold;
    width: 100%;
}
.btn-info:hover {
    background-color: #2c2c2c;
    color: #e4efe3;
}
.btn-info:focus {
    background-color: #a48444;
    color: white;
}
.btn-info:focus,.btn-info:active {
    outline: none !important;
    box-shadow: none !important;
 }

.btn-primary {
    background-color: #a48444;
    color: white;
    font-weight: bold;
    width: 100%;
    display:none;
}
.btn-primary:hover {
    background-color: #2c2c2c;
    color: #e4efe3;
}
.btn-primary:focus {
    background-color: #a48444;
    color: white;
}
.btn-primary:focus,.btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
 }
.card-img-top {
    padding: 5px;
}